name: Build and Deploy to VM

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_name: registry.digitalocean.com/my-image-register/market-place:${{ github.sha }}

    steps:
      - uses: actions/checkout@v4

      - name: Build and Push Docker Image
        run: |
          echo "${{ secrets.REGISTRY_TOKEN }}" | docker login registry.digitalocean.com -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin
          docker build -t registry.digitalocean.com/my-image-register/market-place:${{ github.sha }} ./src
          docker push registry.digitalocean.com/my-image-register/market-place:${{ github.sha }}

  deploy:
    name: Deploy to VM
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        include:
          - host: 164.92.221.43
          - host: 167.71.78.230
          - host: 167.99.35.79


    steps:
      - uses: actions/checkout@v4

      - uses: appleboy/scp-action@v1
        with:
          host: ${{ matrix.host }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: "./docker-compose.yml"
          target: "/opt/market-place/"

      - uses: appleboy/ssh-action@v1
        with:
          host: ${{ matrix.host }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /opt/market-place

            echo "${{ secrets.REGISTRY_TOKEN }}" | docker login registry.digitalocean.com -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin

            yq -i -y '.services.web.image = "${{ needs.build.outputs.image_name }}"' docker-compose.yml

            docker compose up -d --remove-orphans
            docker compose exec nginx nginx -s reload
